{% extends 'base.twig' %}
{% block main %}
    {% if SESSION.authId is defined %}
        {% set unratedUsers=users.getUnratedUsersByCurrentUserId(currentUser.id) %}
        {% if unratedUsers[0] is defined %}
            <div class="text-center">
                {% for user in unratedUsers %}
                    <div class="inline-flex justify-center items-center">
                        <form method="post" action="/dislike">
                            <input type="hidden" name="id" value="{{ user.id }}">
                            <input type="submit" class="button" value="Dislike">
                        </form>
                        <div class="inline-flex justify-center items-center relative">
                            {% set filename=photos.getUserPhotos(user.id)[0].filename %}
                            <p class="absolute z-10 xs:top-2 sm:top-6 xs:left-2 sm:left-6 text-white xs:text-sm sm:text-2xl text-shadow-smallblack">{{ user.name }}</p>
                            <img src="photo/{{ filename[:32] }}{{ filename[33:] }}"
                                 class="z-0 photo-l">
                        </div>
                        <form method="post" action="/like">
                            <input type="hidden" name="id" value="{{ user.id }}">
                            <input type="submit" class="button" value="Like">
                        </form>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="flex h-screen justify-center items-center">
                <div class="p-20 text-2xl whitespace-nowrap border-2 border-pink-700 rounded-xl bg-pink-100">
                    <p>No new users to show</p>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}